body {
   background-image: linear-gradient(
    to right, /* or 'to bottom' for horizontal stripes, or an angle like 45deg */
    #660c69 0%, /* Red starts at 0% */
    #1e0324 25%, /* Red ends at 25% */
    #581066 35%, /* Blue starts at 25% */
    #ae5ec2 50%, /* Blue ends at 50% */
    #D03499 60%, /* Green starts at 50% */
    #724786 75%, /* Green ends at 75% */
    #B121B6 85%, /* Yellow starts at 75% */
    #410c3a 100% /* Yellow ends at 100% */
  );
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(0, 0, 0);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-image: url(https://static.wikia.nocookie.net/kirby/images/5/5b/Gamble_Galaxy_Level_Map.png/revision/latest/scale-to-width/360?cb=20180620204940&path-prefix=en);
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double rgb(0, 0, 0);
}

h2{
  color: rgb(255, 255, 255);
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}